@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.phone-container {
    padding: 10px 20px;
    font-family: 'Nunito Sans', sans-serif; 
}

.phone-label {
    width: 100%;
}

.phone-inputs {
    width: 100%;
    margin: 5px 0px 20px;
    padding: 8px 4px;
    border: 1px solid darkgray;
    border-radius: 3px;
}

.phone-check-inputs  {
    padding: 8px 0;
    border-radius: 3px;
}

.phone-checkbox-input {
    margin: 0px 10px 0px 0px;
    width: 15px;
    height: 15px;
    accent-color: #008060;
    cursor: pointer;
}

.phone-dropdown-inputs {
    width: 100%;
    margin: 5px 0px 20px;
    padding: 8px 0;
}

.phone-input {
    cursor: pointer;
}
